# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# Site
/uploads
/functions/random

# Conn
/functions/conn.js
conn.js

# Ignore File
hiya.jpg

# Ignore File in Folder
/ignore/hiya.jpg

# Ignore Folder 
api/public/kite-*-us-west-two/
api/public/kite-profile-us-west-two/
api/public/kite-posts-us-west-two/
api/public/kite-groups-us-west-two/
public/kite-groups-us-west-two/
public/kite-us-west-two/posts
public/kite-*-us-west-two/
/kite-profile-us-west-two/
/kite-posts-us-west-two/
/kite-groups-us-west-two/


.env



# misc
.DS_Store

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
