body {
  margin: 40;
  padding: 40;
}

.App {
  text-align: center;
}

header {
  height: 58px;
  border-bottom: 1px solid black;
}

.posts {
  width: 60%;
  margin-left: 20%;
  border: 1px solid black;
}

.post {
  width: 80%;
  min-height: 42px;
  margin-left: 10%;
  margin-bottom: 8px;
  border: 1px solid blue;
}

.post-text {
  margin: 2px;
  padding: 0px;
}

.group {
  float: left;
  height: 200px;
  width: 200px;
  border: 1px solid blue;
  margin: 40px;
}

.link {
  margin: 4px;
  margin-right: 8px;
}

.holder {
  float: left;
  width: 98%;
  min-height: 20px;
}